<ion-view view-title="NTW">
  <ion-content class="padding">
      <form ng-controller="DashCtrl">
      
          <div class="form-group">
              
           <!-- <label for="user"><b>Username</b></label>-->
            <input type="text"  class="form-control" placeholder="Enter Username"  ng-model="user">
              
           <!-- <label for="psw"><b>Password</b></label>-->
            <input type="password"  class="form-control" placeholder="Enter Password"  ng-model="pw">
           
          
            <a class="btn btn-primary" ng-click="log()"  role="button">login</a>
            
          
        
          
        </div>
        </form>
         
        </div>
        </div>
  </ion-content>
</ion-view>
<!--<button class="button button-small" ng-click="log()">
    Submit
  </button>-->