<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="Join" icon-off="ion-android-person dark" icon-on="ion-android-person" href="#/tab/inscrit">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="AboutUs" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/oui">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
  <!-- local -->
  <ion-tab title="local" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/local">
    <ion-nav-view name="tab-local"></ion-nav-view>
  </ion-tab>

</ion-tabs>
