<html>
    <head>
        <title>Forum NTW Connexion</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h3>connectez vous s'il vous plait </h3>
<form name="loginForm" ng-controller="LoginController"
      ng-submit="login(credentials)" novalidate>
      <div>
  <label for="username">Username:</label>
  <input type="text" id="username"
         ng-model="credentials.username">
        </div>
        <div>
  <label for="password">Password:</label>
  <input type="password" id="password"
         ng-model="credentials.password">
        </div>
        <a class="btn btn-primary" href="questions.html" role="button">login:</a>

</form>
</body>
</html>