<!DOCTYPE html>
<html>
    <head>
        <title>Forum NTW 2017</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body ng-app="myApp" ng-controller="questionsController">
       <script src="/var/www/html/client/libs/angular.js" ></script>
      
<script src="/var/www/html/client/script/controller.js"></script>
<script src="/var/www/html/client/script/service.js"></script>
<script src="/var/www/html/client/script/app.js"></script>

       
<table ng-if="responses == ''" class="table table-bordered">
  <div class="mx-auto" style="width: 300;">
  <h1>Forum NTW</h1>

</div>
    <div class="row">
      <div class="col-lg-7"></div>
      <div class="col-lg-4">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Recherche</span>
              </div>
              <input type="text" class="form-control" ng-model="search" placeholder="Recherche">
            </div>
   <!-- <input type="text" ng-model="search" placeholder="Recherche">-->
  
  </div>
</div>
<div>
    <h2 ng-if="responses == ''">Liste des questions</h2>
  </div>

  <div style="float:right; width:250px;color: blue;" id="result"></div>
  <div style="float:right; width:250px;color:red;" id="resulta"></div>
 
  
  

    <thead>
                <tr>
                 <!-- <th>id</th>-->
                 <!-- <th>titre</th>-->
                <th>Questions</th>
                  <th>date</th>
                  <th>supprimer</th>
                <!--  <th>utilisateur</th>-->
               <!--  <th>responses</th>-->
                </tr>
              </thead>  
              <tbody ng-repeat="question in questions | filter: search" id="myRow">
           
                   <!-- <td><a class="badge badge-light">{{question.id_ques}}</a></td> -->
                 
                  <!--  <td><a href="#{{question.id_ques}}" ng-click="getQuestion(question.id_ques)" class="badge badge-light">{{question.titre_ques}}</a></td>-->
                    <td><a ng-href="#/question/{{question.id_ques}}"  ng-click="getQuestion(question.id_ques, question.text_ques)"  class="badge badge-light">{{question.text_ques}}</a></td>
                    <td ><a class="badge badge-light">{{question.date}} {{$index}}</a></td>
                    <td> 	<input type="image" img src="/var/www/html/client/view/delete.png" ng-click="delQuestion($index,question.id_ques)"></td>
                 <!--   <td><a class="badge badge-light">{{question.id_uti}}</a></td>-->
             <!--  <td onload="getQuestion(question.id_ques)"><a class="badge badge-light" >{{question.countResp}}</a></td>-->
              </tbody>
      
      </table>
      <a ng-if="responses == ''" class="btn btn-primary" href="ajoutQ.html" role="button">Ajoutez question</a>

       <!-- showResponsesTable is a bool by default is false in the controller-->
       <h2 ng-if="showResponsesTable == true">Question: {{currentQuestion}}</h2>
   
       <table ng-if="showResponsesTable == true" class="table table-bordered">
         <thead>
                 <tr>
                 <!--  <th>id</th> -->
                   <th>Reponses</th>
                   <th>dates</th>
                   <th>supprimer</th>
                  <!-- <th>Questions</th>-->
                 </tr>
               </thead>  
               <tbody ng-repeat="reponse in responses| filter: search" >
                 <!--    <td> {{reponse.id_rep}}</td> -->
                     <td>{{reponse.text_rep}}</td>
                     <td>{{reponse.date_rep}}</td>
                   <!--  <td>{{reponse.id_ques}}</td>-->
                   <td> 	<input type="image" img src="/var/www/html/client/view/delete.png" ng-click="delReponse(reponse.id_rep)"></td>
               </tbody>
       
       </table>
      <div ng-if="showResponsesTable == true">
        <form ng-controller="questionsController">
    <h3>Votre reponse:</h3>
          <div class="form-group">
            <label for="text_rep"> Votre reponse:</label>
            <input type="text"
            class="form-control"
            ng-model="text_resp">
          </div>
         <!-- <div class="form-group">
            <label for="id_ques"> Numero de la question:</label>
            <input type="text"
            class="form-control"
            ng-model="id_response"
            id="id_ques">
          </div>-->
          <div class="form-group">
            <label for="id_ques"> Votre identifiant:</label>
            <input type="text"
            class="form-control"
            ng-model="id_uti"
            id="id_uti">
          </div>
          <div class="form-group">
            <button class="btn btn-primary" ng-click="ajoutRep()"  onclick='document.location.reload(false)' value="Rafraichir">Ajouter</button>
            
          </div>
        
      </form> 
      
        
      </div>
      
      </body>


    
</html>