<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nouvelle question</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <body  ng-app="myApp" ng-controller="questionsController">
    <script src="/var/www/html/client/libs/angular.js" ></script>
  
<script src="/var/www/html/client/script/controller.js"></script>
<script src="/var/www/html/client/script/service.js"></script>
<script src="/var/www/html/client/script/app.js"></script>


<div>
  <h2>Veuillez ajoutez une question</h2>
</div>
<h4 style="float:right; width:250px;color: rgb(78, 78, 99);" id="result"></h4>
<div class="container main-content">
  <form ng-controller="questionsController">
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1"> Votre question:</label>
      <input type="text"
      class="form-control"
      ng-model="text_ques">
    </div>
   <!-- <div class="form-group">
      <label for="id_uti"> Votre identifiant:</label>
      <input type="text"
      class="form-control"
      ng-model="id_uti"
      id="id_uti">
   </div>-->
    <div class="form-group">
        <a class="btn btn-primary" ng-click="ajoutques()"role="button">Ajoutez question</a>
        
    </div>
  
</form>

</div>
</body>
</html>